<app-status-card [available]="available" [studentName]="name" [studentEmail]="email"
    (availabilityChanged)="changeAvailability($event)"></app-status-card>


<div class="user-card" *ngIf="hasUser">
    <p>Name: {{ name}}</p>
    <p>Email: {{ email }}</p>
</div>

<button (click)="loadUser()">Load user</button>


<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div class="form">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
        <span *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">Name is required.</span>

        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email">
        <span *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">Email is required.</span>

        <button [disabled]="userForm.invalid" type="submit">Save</button>
    </div>
</form>